.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh; /* full page height */
  text-align: center;
}
h1 {
  color: darkcyan;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}